<html>
	<body>
		<div>Update Services</div>
		<form action="/updateservice" method="post">
			<div><textarea id="services" name="services" style="height:90%; width:90%;">
				{{=it.json}}
			</textarea></div>

			<input type="submit" value="Update" />

		</form>

	</body>
</html>